.container{
    width: 500px;
    margin: auto;
    border: solid 5px grey;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: white;
    
}

body {
        background-color: white;
        font-family: "Helvetica", sans-serif;
        font-size: 15px;
        background-color: darkslategray;
}

h1 {
        color: red;
        font-size: 3em;
}
            
h2 {
        color: blue;
        font-size: 2em;
}
                      
#id-ex-p {
        background-color: yellow;
        font-weight: bold;
}
            
#id-ex-h2 {
        color: white;
        background-color: purple;
        font-style: italic;
}
            
.class-ex {
    color: white;
    background-color: green;
}

.img-exemplu {
    border-style: solid;
    margin: auto;
}

.ordonata {
    color: green;
    text-decoration: underline;
}

.paragraf-lung{
    background-color: grey;
    width: 500px;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.paragraf-lung p{
    margin-left: 15px;
    color: white
}

.paragraf-lung h2{
    text-align: center;
}

.scris-peste-img{
    position: absolute;
    top: 450px;
    left: 917px;
    color: red;
}